<section id="education">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="education-logo" src="assets/img/tecDeMty.png" alt="college"/>
            </div>
            <div class="col-md-7">
                <h3 class="education-title"><b>Monterrey Institute of Technology and Higher Education - ITESM</b></h3>
                <ul>
                    <li>Bachelor of Computer Science and Technology - Honors Program</li>
                    <li>Expected graduation date: December 2022</li>
                    <li>Accumulative GPA: 96/100</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="education-logo" src="assets/img/ib.png" alt="IB Program"/>
            </div>
            <div class="col-md-7">
                <h3 class="education-title"><b>International Baccalaureate</b></h3>
                <ul>
                    <li>Years: 2014 - 2017</li>
                    <li>International Baccalaureate Diploma on French - High Level</li>
                    <li>International Baccalaureate Diploma on Mathematics and Environmental Systems &
                        Societies - Standard Level</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="education-logo last-image" src="assets/img/prepaTec.png" alt="high-school"/>
            </div>
            <div class="col-md-7">
                <h3 class="education-title"><b>TEC High-School</b></h3>
                <ul>
                    <li>Years: 2014 - 2017</li>
                    <li>Graduated with academic excellence</li>
                    <li>Graduated with the International Baccalaureate Honors Diploma</li>
                </ul>
            </div>
        </div>
    </div>
</section>