<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-img">
                    <img class="shape" src="assets/img/about_tringle.png" alt="triangle"/>
                    <img class="woman" src="assets/img/profile.png" alt="profile picture"/>
                </div>
            </div>
            <br>
            <div class="col-md-7 about-right">
                <h2 class="color-3"><b>About Me</b></h2>
                <p class="p-first text-black"> 
                    Hello! My name is Frida Gutierrez Mireles and I'm from Mexico.
                    I am an undergraduate student of Computer Science at ITESM in Monterrey, Mexico.
                    I've always seen computer science as a tool that allows developers to put into practice their
                    creativity through the use of code. As I'm aspiring to become a tech professional, I'm looking for
                    internships and part-time opportunities that will allow me to hone my professional skills.
                </p>
                <p class="text-black">
                    I'm eager to learn new technologies and acquire both technological practices and software development
                    expertise to design and develop innovative technological solutions. One of my objectives is to empower
                    other women to embrace technology in order to reduce the gender gap in STEM majors.
                </p>

                <ul class="about-link">
                    <li><a href="https://www.linkedin.com/in/frida-gutierrez-mireles/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://github.com/fridag98?tab=repositories" target="_blank"><i class="fa fa-github-square"></i></a></li>
                    <li><a href=""><i class="fa fa-envelope"></i></a></li>
                </ul>

            </div>
        </div>
    </div>
</section>


