<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="project-image-bigger" src="assets/img/angularWebpage.png" alt="Angular project"/>
            </div>
            <div class="col-md-7">
                <h3 class="project-title"><b>Angular Webpage</b></h3>
                <ul>
                    <li><b>Period: </b>June 2020</li>
                    <li>Developed an Angular webpage of my resume for it to be more explanatory, interactive, dynamic and eye-pleasant.</li>
                    <li class = "icon-links"><a href="https://github.com/fridag98/Angular-Resume" target="_blank" title="repository"><i class="fa fa-github-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="project-image-bigger" src="assets/img/campusAccess.png" alt="iOS project"/>
            </div>
            <div class="col-md-7">
                <h3 class="project-title"><b><i>Campus Access</i> iOS Application</b></h3>
                <ul>
                    <li><b>Period: </b>February 2020 – May 2020</li>
                    <li>Developed an iOS application on Swift using Google Maps API and Firebase, to achieve guidance inside the campus 
                        of Tecnológico de Monterrey (ITESM) for both students and visitors. The app gives map directions to users for 
                        them to know how to arrive to the different buildings located within the campus.</li>
                    <li>The app provides, to non-student users, a visit registration form and a QR code for them to enter the campus in a faster way. </li>
                    <li>The app got selected to be uploaded to the AppStore.</li>
                    <li class = "icon-links"><a href="https://github.com/fridag98/Campus-Access" target="_blank" title="repository"><i class="fa fa-github-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="project-image" src="assets/img/postgresql.png" alt="PostgresQL project"/>
            </div>
            <div class="col-md-7">
                <h3 class="project-title"><b>Object Oriented Database using PostgresQL</b></h3>
                <ul>
                    <li><b>Period: </b>May 2020 – June 2020</li>
                    <li>Designed ER diagrams and SQL scripts in order to develop a database using PostgreSQL Object Relational that simulates a medic-patient system.
                        It was implemented using inheritance, user-defined types, arrays of data, and triggers for maintaining company's rules.</li>
                    <li>The database allows to consult the treatments and the medicines a patient has received by a determined 
                        doctor.</li>
                </ul>
            </div>
        </div>
        <div class="row down-row">
            <div class="col-md-5">
                <img class="project-image-bigger" src="assets/img/boozeitUp.png" alt="Ruby on rails project"/>
            </div>
            <div class="col-md-7">
                <h3 class="project-title"><b><i>Event Organizer</i> Ruby on Rails Application</b></h3>
                <ul>
                    <li><b>Period: </b>September 2019 – November 2019</li>
                    <li>Developed a Ruby on Rails application that allows users to create events and see the events
                        created by other users for them to attend if interested.</li>
                    <li>The app also allows users to see a list of the events they've created and those they selected to attend.</li>
                    <li class = "icon-links"><a href="https://github.com/sgdiosdado/boozeitup" target="_blank" title="repository"><i class="fa fa-github-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row down-row">
            <div class="col-md-5">
                <img class="project-image-bigger" src="assets/img/artThief.png" alt="Unity project"/>
            </div>
            <div class="col-md-7">
                <h3 class="project-title"><b>3D Videogame using Unity</b></h3>
                <ul>
                    <li><b>Period: </b>January 2019 - May 2019</li>
                    <li>Developed a 3D videogame consisting of 3 levels within the Unity platform using C# language.</li>
                    <li>On the videogame, called "The Art Thief", the player is a thief whose objective is to steal 
                        the target painting in a museum by avoiding all the obstacles encountered, such as lasers and 
                        surveillance cameras.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row down-row">
            <div class="col-md-5">
                <img class="project-image-bigger" src="assets/img/mySQL.png" alt="mySQL project"/>
            </div>
            <div class="col-md-7">
                <h3 class="project-title"><b>Database using SQL</b></h3>
                <ul>
                    <li><b>Period: </b>January 2019 – May 2019</li>
                    <li>Developed a database using MySQL to achieve the assignation of a student to a job and to a
                        professor to work with during a school period.</li>
                </ul>
            </div>
        </div>
    </div>
</section>