section {
    padding-top: 3rem;
}

li {
    margin: 0 !important;
    line-height: 2em;
    text-align: justify;
    list-style-type: circle;
    color: rgb(92, 87, 85);
}

.project-title {
    color: rgb(92, 73, 116);
}

.col-md-7 {
   /* background: red;*/
    margin-top: 3.5em;
    margin-bottom: 2.7em;
}

.project-logo {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.col-md-5 {
    padding-left: 2em;
    /*padding-top: 3.5em;*/
    display: flex;
}

.down-row{
    margin-top: 4em;
}

.down-row-more {
    margin-top: 6em;
}

.bigger-project-logo {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}