#projects {
    padding-top: 3rem;
}

li {
    margin: 0 !important;
    line-height: 2em;
    text-align: justify;
    list-style-type: circle;
    color: rgb(92, 87, 85);
}

li.icon-links{
    display: inline-block;
    list-style-type: none;
    margin-top: 1em !important;
    margin-right: 1em !important;
}

li a i{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    border: 1px solid #d6c6b2;
    margin-right: 10px;
    font-size: 30px;
    color: #bda281;
    /*change properties smoothly*/
    transition: all .3s;
}

li a i:hover{
    color: #222222;
    background: #d6c6b2;
    border-color: #d6c6b2;
}

.project-title {
    color: rgb(92, 73, 116);
}

.col-md-7 {
   /* background: red;*/
    margin-top: 3.5em;
    margin-bottom: 2.7em;
}

.col-md-5 {
    padding-left: 2em;
    /*padding-top: 3.5em;*/
    display: flex;
}

.project-image {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.project-image-bigger {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

.down-row{
    margin-top: 3em;
}