<section id="leaderships">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="leaderships-image-smaller" src="assets/img/Wise.png" alt="WiSE logo"/>
            </div>
            <div class="col-md-7">
                <h3 class="leaderships-title"><b>Women in Science and Engineering (WiSE)</b></h3>
                <ul>
                    <li><b>Period: </b>June 2020 – Present</li>
                    <li> Current member of WiSE’s student council as the director of the Strategic Planning area. WiSE’s objective is to reduce the
                        gender gap within the STEM careers by providing workshops, conferences and networking session given by
                        professionals within the STEM areas.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="leaderships-image-smaller" src="assets/img/dataScienceClub.jpg" alt="Data Science Club logo"/>
            </div>
            <div class="col-md-7">
                <h3 class="leaderships-title"><b>Data Science Club</b></h3>
                <ul>
                    <li><b>Period: </b>June 2020 – Present</li>
                    <li>Current coordinator of the IT area of the Data Science Club student council. 
                        The club’ objective is to develop leaders in the field of data science through training and community-building 
                        projects.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="leaderships-image" src="assets/img/wit.png" alt="WIT logo"/>
            </div>
            <div class="col-md-7">
                <h3 class="leaderships-title"><b>Women in Technology (WIT)</b></h3>
                <ul>
                    <li><b>Period: </b>March 2019 – June 2020</li>
                    <li>Member of WIT’s student council as the director of the social service department.</li>
                    <li>WIT’s objective is to reduce the gender gap within IT careers. I was in charge of developing and 
                        carrying out the WIT Code social service program. At WIT Code we teach, to non-IT junior high-school women, 
                        the basic knowledge and the best practices on programming topics such as HTML, CSS, JavaScript, 
                        iOS components, and videogames.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="leaderships-image" src="assets/img/girlsCodeClub.jpeg" alt="Girls Code Club"/>
            </div>
            <div class="col-md-7">
                <h3 class="leaderships-title"><b>Girls Code Club</b></h3>
                <ul>
                    <li><b>Period: </b>January 2019 – May 2019</li>
                    <li>Active attendee of the Girls Code Club at Monterrey’s Microsoft offices. A group of women gathered to solve 
                        programming exercises and learn new technologies with the aim of improving our technological skills.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="leaderships-image" src="assets/img/volunteering.jpg" alt="Girls Code Club"/>
            </div>
            <div class="col-md-7">
                <h3 class="leaderships-title"><b>Entrepreneurship Workshop Mentor</b></h3>
                <ul>
                    <li><b>Period: </b>May 2018</li>
                    <li> Developed and delivered an entrepreneurship workshop to 40 low resource high school students at Teabo, Yucatán.</li>
                    <li> The workshop gave the students the tools for them to develop a tem-based project that solves a problem within their community and at the end, deliver a pitch to sell their idea.</li>                                
                </ul>
            </div>
        </div>
    </div>
</section>