<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="work-logo" src="assets/img/ecaresoft.png" alt="ecaresoft"/>
            </div>
            <div class="col-md-7">
                <h3 class="work-title"><b>Software Developer Intern at Ecaresoft</b></h3>
                <ul>
                    <li><b>Duration: </b>May 2019 – August 2019</li>
                    <li>Developed a Java and JavaScript program that converted any Gregorian Date into a Hijri 
                        Date (Muslim based calendar) as a new feature within Ecaresoft’s webpage calendar 
                        for costumers in Saudi Arabia. </li>
                    <li class = "icon-links"><a href="https://www.ecaresoft.com/" target="_blank" title="website"><i class="fa fa-link"></i></a></li>
                    <li class = "icon-links"><a href="https://www.linkedin.com/company/ecaresoft-inc./" target="_blank" title="linkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>