<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="work-image-smaller" src="assets/img/internMakers.png" alt="InternMakers"/>
            </div>
            <div class="col-md-7">
                <h3 class="work-title"><b>Web Developer Intern at InternMakers </b></h3>
                <ul>
                    <li><b>Duration: </b>July 2020 – August 2020</li>
                    <li>Designed and developed a webpage using WordPress for all the company's linked accounts which had 600+ weekly visits.</li>
                    <li>Developed a webpage for the company's scholarship program</li>
                    <li class = "icon-links"><a href="https://internmakers.com/" target="_blank" title="webpage"><i class="fa fa-link"></i></a></li>
                    <li class = "icon-links"><a href="https://www.linkedin.com/company/internmakers/" target="_blank" title="linkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="work-image" src="assets/img/ecaresoft.png" alt="ecaresoft"/>
            </div>
            <div class="col-md-7">
                <h3 class="work-title"><b>Software Developer Intern at Ecaresoft</b></h3>
                <ul>
                    <li><b>Duration: </b>May 2019 – August 2019</li>
                    <li>Developed a Java and JavaScript program that converted any Gregorian Date into a Hijri 
                        Date (Muslim based calendar) as a new feature within Ecaresoft’s webpage</li>
                    <li>This feature contributed to Ecaresoft's attraction of a new market of customers from Saudi Arabia.</li>
                    <li class = "icon-links"><a href="https://www.ecaresoft.com/" target="_blank" title="webpage"><i class="fa fa-link"></i></a></li>
                    <li class = "icon-links"><a href="https://www.linkedin.com/company/ecaresoft-inc./" target="_blank" title="linkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>