<section id="additionals">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="additionals-image" src="assets/img/toolBoxCoursera.png" alt="Certificate URL"/>
            </div>
            <div class="col-md-7">
                <h3 class="additionals-title"><b>Algorithmic Toolbox - by Google’s Tech Student Development</b></h3>
                <ul>
                    <li><b>Period: </b>December 2019 - January 2020</li>
                    <li> The course covered algorithmic techniques and ideas for computational problems arising frequently in practical applications: 
                        sorting and searching, divide and conquer, greedy algorithms, and dynamic programming. The course allowed me to design new 
                        algorithms and implement them efficiently. <br><i>*No Expiration Date</i>
                    </li>
                    <li class = "icon-links"><a href="https://www.coursera.org/account/accomplishments/certificate/CP93G2HNQ6J2" target="_blank" title="certidicate"><i class="fa fa-file"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="additionals-image-smaller" src="assets/img/croodsSitting.png" alt="Additional skills"/>
            </div>
            <div class="col-md-7">
                <h3 class="additionals-title"><b>Additional Skills</b></h3>
                <ul>
                    <li><b>Aptitudes: </b>Self-learning, responsibility, leadership, communication, teamwork, time-management.</li>
                    <li><b>Foreign languages: </b>English Expert-Advanced TOEFL iBT with score of 105, French Intermediate</li>
                    <li><b>Personal interests: </b>Photography and jazz and hip-hop dancer.</li>
                </ul>
            </div>
        </div>
    </div>
</section>