<header>
  <div class="container">
    <p class="logo">RESUME</p>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/about">About Me</a></li>
        <li><a href="#" routerLink="/education">Education</a></li>
        <li><a href="#" routerLink="/work">Work Experience</a></li>
        <li><a href="#" routerLink="/projects">Projects</a></li>
        <li><a href="#" routerLink="/achievements">Achievements</a></li>
        <li><a href="#" routerLink="/leaderships">Leaderships</a></li>
      </ul>
    </nav>
  </div>
</header>

  <router-outlet></router-outlet>
