section {
    padding-top: 3rem;
}

li {
    margin: 0 !important;
    line-height: 2em;
    text-align: justify;
    list-style-type: circle;
    color: rgb(92, 87, 85);
}

.achievement-title {
    color: rgb(92, 73, 116);
}

.col-md-7 {
     margin-top: 3.5em;
     margin-bottom: 2.7em;
 }

 .col-md-5 {
    padding-left: 2em;
    display: flex;
}

.achievement-image {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.down-row {
    margin-top: 2.5em;
}