<section id="achievements">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="achievement-image" src="assets/img/microsoft.png" alt="Microsoft logo"/>
            </div>
            <div class="col-md-7">
                <h3 class="achievement-title"><b>Microsoft’s Silver Lining Hackathon</b></h3>
                <ul>
                    <li><b>Period: </b>July 2020 (two days)</li>
                    <li> One of the 49 international students participating at the first virtual hackathon of Microsoft.</li>
                    <li>Developed a chatbot using Microsoft’s bot framework and Azure’s Language Understanding cloud service.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="achievement-image" src="assets/img/codepath.jpg" alt="CodePath logo"/>
            </div>
            <div class="col-md-7">
                <h3 class="achievement-title"><b>CodePath’s Technical Interview Summer Program</b></h3>
                <ul>
                    <li><b>Period: </b>June 2020 - August 2020</li>
                    <li> One of the 300 students selected to participate at CodePath’s Technical Interview Summer Program.
                        A program taught by professional engineers to help students ace technical interviewing and give them a
                        preview of real-world software topics in industry.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="achievement-image" src="assets/img/microsoft.png" alt="Microsoft logo"/>
            </div>
            <div class="col-md-7">
                <h3 class="achievement-title"><b>Microsoft Explorer Internship</b></h3>
                <ul>
                    <li><b>Period: </b>March 2020</li>
                    <li>One of 16 Mexican students selected for Microsoft’s Summer 2020 Internship. <br><i><b>*Internship got cancelled due to COVID-19.</b></i></li>
                </ul>
            </div>
        </div>
        <div class="row down-row">
            <div class="col-md-5">
                <img class="achievement-image" src="assets/img/ICPC.png" alt="ACM Contest"/>
            </div>
            <div class="col-md-7">
                <h3 class="achievement-title"><b>International Collegiate Programming Contest</b></h3>
                <ul>
                    <li><b>Period: </b>November 2019</li>
                    <li>Finalist at the national stage of the International Collegiate Programming Contest 2019 (ICPC).</li>
                </ul>
            </div>
        </div>
        <div class="row down-row">
            <div class="col-md-5">
                <img class="achievement-image" src="assets/img/developHER.jpg" alt="DevelopHER"/>
            </div>
            <div class="col-md-7">
                <h3 class="achievement-title"><b>Twitter’s #DevelopHER program</b></h3>
                <ul>
                    <li><b>Period: </b>June 2019</li>
                    <li>One of 38 attendees selected out of 1,000+ applicants to attend a 2-day interactive program for second-year
                        computer science students. This program focused on developing the professional and technical skills of the attendees including 
                        networking, personal branding, resume writing and coding challenges.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>